:root {
    --gutter: 25px;
    --radius: 13px;
    --color-primary: #2fccc5;
    --color2: #10AEC2;
    --color3: #8ABCD1;
    --color4: #A4CAB6;
    --color5: #C08EAF;
    --color6: #BDAEAD;
    --color7: #8799a3;
    --color-primary-bg: rgba(47,204,197,0.15);
    --color2-bg: rgba(16,174,194,0.15);
    --color3-bg: rgba(138,188,209,0.15);    
    --color4-bg: rgba(164,202,182,0.15);
    --color5-bg: rgba(192,142,175,0.15);
    --color6-bg: rgba(189,174,173,0.15);
    --color7-bg: rgba(135,153,163,0.15);
    --color-shadow: rgba(161, 177, 204, 0.4);
            
    background-image: url("https://raw.githubusercontent.com/Lzque/blogImage/main/theme/202209191442217.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    /*背景虚化*/
    /*backdrop-filter: blur(2px);*/
}
/* 打字机特效 */
.text{
    font-family: 'Arial';
    display: inline-block;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }
.text::after{
     content: '';
     position: absolute;
     right: -1px;
     top: 2px;
     height: 14px;
     width: 1px;     
     background-color: #2fccc5;
     animation: san 0.5s steps(1) infinite;
     }
@keyframes san{
     0%,100%{
        background-color: #2fccc5;
            }
     50%{
        background-color: transparent;
        }

     }
.aboutText{
     height: 20px;
     width: 100%;
     background-color: #ffffff;
    }

/* 信息框 */
.aboutMeBox{
    height: 120px;
    width: 100%;
    background-color: #91b3c9;
    border-radius: 5px;
    margin-bottom: 6px;
    background-image: url(https://raw.githubusercontent.com/Lzque/blogImage/main/theme/202209271416098.png);
    background-position: right;
    background-size: auto 8.75em;
    background-repeat: no-repeat;
}
.introduce{
     font-family: 'Arial';
     font-size: 16px;
     line-height: 21px;
     color: rgb(255, 255, 255);
     opacity: 0;
}
