:root {
    --gutter: 25px;
    --radius: 13px;
    --color-primary: #2fccc5;
    --color2: #10AEC2;
    --color3: #8ABCD1;
    --color4: #A4CAB6;
    --color5: #C08EAF;
    --color6: #BDAEAD;
    --color7: #8799a3;
    --color-primary-bg: rgba(47,204,197,0.15);
    --color2-bg: rgba(16,174,194,0.15);
    --color3-bg: rgba(138,188,209,0.15);    
    --color4-bg: rgba(164,202,182,0.15);
    --color5-bg: rgba(192,142,175,0.15);
    --color6-bg: rgba(189,174,173,0.15);
    --color7-bg: rgba(135,153,163,0.15);
    --color-shadow: rgba(161, 177, 204, 0.4);
            
    background-image: url("https://raw.githubusercontent.com/Lzque/blogImage/main/theme/202209191442217.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    /*背景虚化*/
    /*backdrop-filter: blur(2px);
}